.file-name-box {
    display: inline-block; 
    background-color: #ffffff; 
    border: 1px solid #ddd; 
    border-radius: 4px; 
    padding: 8px 12px; 
    font-size: 14px; 
    margin-left: 10px;
    width: 80%;
  }
  