
@font-face {
    font-family: 'Hakgyoansim';
    src: url('../../public/fonts/Hakgyoansim.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  

@font-face {
    font-family: 'HakgyoansimKkokkoma';
    src: url('../../public/fonts/HakgyoansimKkokkoma.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }  
#custom-navbar{
    height: 150px;
    width: 100%;

    .custom-container {
        margin: 30px 0 100px 0;
        padding: 0 260px;
      }
 
    .navbar-brand {
        font-family: "HakgyoansimKkokkoma", serif;
        font-weight: 400; 
        font-style: normal;
        font-size: 2rem; 
    }
    
    .placeholder-btn {
        width: 40px; 
        height: 40px; 
    }
    .placeholder-btn2{
        width: 70px; 
        height: 40px; 
    }
    .back-button{
        border: none;
        background-color: transparent;
        padding: 0;
        width: 40px;
        height: 40px;
        background-image: url('../../public/images/backbutton.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }

    
      .brand-logo {
        width: 30px;
        height: 30px;
        margin-right: 8px;
      }
      
}