
.post-icon-small {
    width: 16px; 
    height: 16px;
    margin-right: 5px; 
  }
  
 
  .post-stat-item {
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    gap: 15px; 
  }
  
  .post-stat-item div {
    display: flex;
    align-items: center;
    gap: 5px; 
  }
  