
.profile-avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
    cursor: pointer;
  }
  
#dropdown-basic{
    background-color: transparent;
    border: transparent;
}

  
  .profile-menu .dropdown-item {
    padding: 10px 15px;
    font-family: "Hakgyoansim", serif;
  }
  
  .profile-menu .dropdown-item:hover {
    background-color: #f8f9fa;
  }
  